{% extends 'base.html.twig' %}

{% block body %}
  <h1>Welcome to tpfnd, {{ name  }}! Thank you for signing up with us. <br />
      Please confirm your registration through the link below:</h1>
    <br />
    <a href="{{ link }}">Confirm your registration here.</a>
{% endblock %}

