{% extends 'base.html.twig' %}

{% block body %}
  <h2>Hello, {{ user.firstname }}!  You can reset your password within 24 hours through the link below: </h2>
  <br />
  <a href="{{ link }}">Reset password here:  {{ link }}</a>
{% endblock %}

